---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const post = {
  blog: await getCollection('blog'),
  docs: await getCollection('docs'),
};
---

<div class="mt-5">
  <section>
    <ul>
      {
        post.docs.map((post) => (
          <a href={`/docs/${post.slug}/index.html`}>
            <h4 class="title">{post.data.title}</h4>
          </a>
        ))
      }
    </ul>
  </section>
</div>
