---
import { getCollection, Collection } from 'astro:content';

// コレクションのエントリ型を定義します。
type GuideEntry = {
  slug: string;
  data: {
    title: string;
    // 他のフィールド...
  };
};
const guidesCollection = (await getCollection('guides')) as Collection<GuideEntry>;
const referencesCollection = (await getCollection('references')) as Collection<GuideEntry>;

---

<div class="mt-5 ml-16">
  <section>
    {guidesCollection && <div>
      <h4>Guides</h4>
      <ul>
        {guidesCollection.map((guide) => (
          <li><a href={`/docs/${guide.slug}/`}>{guide.data.title}</a></li>
        ))}
      </ul>
    </div>}
    {referencesCollection && <div>
      <h4>References</h4>
      <ul>
        {referencesCollection.map((reference) => (
          <li><a href={`/reference/${reference.slug}/`}>{reference.data.title}</a></li>
        ))}
      </ul>
    </div>}
  </section>
</div>
